/* header, footer{
    width: 100%;
    height: var(--stripsheight);
} */

body {
  font-family: monospace;
  text-align: left;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* padding-left: 5%;
    padding-right: 5%; */
}

section {
  width: 100%;
  height: 25%;
  padding-top: 5%;
  padding-right: 5%;
}

div {
  width: 100%;
  /* padding-left: 5%;
    padding-right: 5%; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  background: rgb(238, 231, 231);
  color: black;
  line-height: auto;
  width: auto;
  font-size: 1em;
  border: 0.5px;
  border-color: black;
  border-style: solid;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}
