@import url("https://fonts.googleapis.com/css2?family=Cantarell:wght@700&family=Roboto:ital,wght@1,300&display=swap");
body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1140px;
  margin-left: 15rem;
  margin-top: 20rem;
}

#navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-right: 5rem;
  font-size: 1.3rem;
  margin-top: 1rem;

}

#navbarList div {
  display: flex;
  width: 10%;
  min-width: 50px;
  padding: 0.2em 0;
  align-items: center;
}

#navbarList a {
  width: inherit;
  color: #202124;
  margin: 1rem;
}

.navLeft {
  margin-left: 0;
  padding: 0;
}

.menu {
  width: 24px;
  height: 24px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.profile {
  margin-right: 10rem;
  width: 36px;
  border-radius: 50%;
  height: 36px;
}

body {
  font-family: monospace;
  text-align: left;
  width: 100%;
}

#navbarList div {
  display: flex;
  width: 10%;
  min-width: 50px;
  padding: 0.2em 0;
  align-items: center;
}

#navbarList a {
  width: inherit;
  color: #202124;
  margin: 1rem;
}

.navLeft {
  margin-left: 0;
  padding: 0;
}

.menu {
  width: 24px;
  height: 24px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.profile {
  margin-right: 10rem;
  width: 36px;
  border-radius: 50%;
  height: 36px;
}

body {
  font-family: monospace;
  text-align: left;
	/* @@ -45,6 +92,30 @@ section { */
  font-weight: 900;
}

.searchBarContainer {
  position: relative;
}

.microphoneIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 3%;
  right: 2%;
}

.searchIcon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 10%;
  left: 2%;
}

.google-search {
  padding-left: 4rem !important;
}

.searchBarContainer {
  position: relative;
}

.microphoneIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 3%;
  right: 2%;
}

.searchIcon {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 10%;
  left: 2%;
}

.google-search {
  padding-left: 4rem !important;
}

.url {
  color: #202124;
  font-size: 14px;
  line-height: 1.3;
  padding-top: 1px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  color: #1a0dab;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.3;
}

.desc {
  font-family: Arial, Helvetica, sans-serif;
  color: #202124;
  font-size: 14px;
  line-height: 1.58;
  text-align: left;
}

.tags {
  color: #1a0dab;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
